.contact-section {
    width: 100% ;
    height: 360px ;
    background:#40739e ;
    color: #ffffff ;
}

.contact-section .footer-title {
    border-bottom: 1px solid #ffffff ;
}

.contact-section .footer-links {
    list-style: none ;
    margin: 0px ;
    padding: 0px ; 
}

.contact-section .footer-links li a {
    color: #ffffff ; 
}

footer {
    height: 60px ;
    background: #273c75 ;
    color: #ffffff ; 
}

footer div {
    padding-top: 16px ;
    font-size: 18px ;
}

footer a {
    color: #ffffff ;
}

footer a:hover {
    color: #ffffff ;
}