<style>
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
</style>

*{

	padding: 0;
	margin: 0;
	font-family: 'Roboto Slab', serif;
}

header {

	width: auto;
	height: 60px;
	background: #2a6478;
}
a {
display: flex;

}